/*Geral*/

body{    
    font-family: 'Montserrat-Thin', sans-serif;
    background-color:#F36870; 
    color: #171515;        
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1{  
    color: #F9FBF7;     
    padding-top: 5em ;    
}

h4{
    color: #F36870;  
    font-size: 3rem;    
}

h5{
    font-size: 2rem;
    padding-bottom: 1em;
}

p{   
    text-align: center;
}


/* Navbar */ 

.navbar #titulo{
    font-family: 'Montserrat', sans-serif;
    margin: 3em;
    font-size: 1.5rem;    
}

.navbar .menu{    
    font-size: 1.2em;
}

/* Banner */ 

.banner{
    padding: 5em 0 5em 0;   
}

.banner .botao-download{
    margin: 1.5em;
}

.banner #smartphone{    
    width: 18%;   
    transform: rotate(30deg);  
    position: absolute;
    z-index: 1; 
    margin-left: 8em;
}

.banner #legenda-smartphone{
    font-size: 0.8em;    
    transform: rotate(30deg); 
    position: absolute;
    z-index: 1; 
    padding: 34em 0em 5em 12em;
   
}

/* Features */ 

.features{
    padding: 10em 0 10em 0;  
    background-color: #F9FBF7; 
    position: relative;
    z-index: 2;  
}

.features .feature-imagem{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    color: #F36870;
    margin-top: auto;    
}

.features .paragrafo-feature{
    padding-bottom: 2em;
}

/* Depoimentos*/ 

.carousel-container #myCarousel{    
    padding: 7em 0 7em 0;    
}

.carousel-container .depoimento-imagem{
    width: 15%;
    border-radius: 100%;
    margin:5em 12em 5em 12em; 
}

.carousel-container .carousel-conteudo {
    margin:0em;      
    padding-left: 1.5em;
}

.carousel-container .depoimento{
    font-size: 2rem;
    padding: 0 0 2em 8em; 
    font-family: 'Montserrat', sans-serif;
}

.carousel-container .cliente{
    padding-left: 10em;
    font-size: 1.5rem; 
    font-family: 'Montserrat', sans-serif;
}

.carousel-container .legenda{
    font-size: 1rem; 
    padding-left: 15em;  
}


/* Preços */ 

#precos{
    background-color: #F9FBF7;
    color: #6C6D76;     
}

#precos .titulo-precos{
    font-size: 2.5rem;
    color: #171515;
    padding-top: 2em;
}

#precos .tipo-plano{
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #F36870;
}

#precos .subtitulo-precos{
    font-size: 2rem;
    margin: 3em;
    font-family: 'Montserrat', sans-serif;
    color: #6C6D76;
    text-align: center;    
}

#precos .card{
    margin: 3em;
}

#precos .card:hover{
    background-color:#DBE8D8;
}

#precos .card-titulo{
    color: #6C6D76;
    font-size: 1.5rem;
}

#precos .lista-precos{
    font-size: 1.2rem;
    margin: 1em;
    color: #171515;
}


  /* CTA */ 

#cta{
    background-color:  #BDF0D6;
}

#cta .botao-download{
     margin: 2.5em;     
}
 

/* Contato */ 

footer{
    margin: 5em 0 0 2em;
}

#footer .contato-item{    
    text-align: center;    
}

#footer .contato-icon{
    margin: 1em;  
}
 

 /* Responsivo */

 
 /* Tela pequena */

 @media screen and (max-width: 768px) and (min-width: 0px)
{
    /* Navbar */ 
    .navbar .titulo{        
        margin: 3em;           
    }

    /*Banner*/
    .banner{
        padding: 5em 0 5em 0;                
    }

    .banner #smartphone{
        width: 40%; 
        transform: rotate(0deg);    
        position: relative; 
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }

    .banner #legenda-smartphone{
        font-size: 0.3em;    
        transform: rotate(30deg); 
        position: relative;
        z-index: 1; 
        padding-top: 0em;                 
        align-content: center;
        transform: rotate(0deg);  ;
    }
    
    /*Carousel*/
    .carousel-container{       
        margin: 0; 
        padding: 0;
    }
    
    .carousel-container .depoimento-imagem{
        width: 30%;
        border-radius: 100%;  
        padding: 0 0 0 0;
        margin: 0.5em 0 0 0;
    }
    
    .carousel-container .depoimento{
        align-items: center;
        font-size: 0.5rem;     
        margin: 0;   
        padding: 0 0 0 5em; 
    }
    
    .carousel-container .cliente{               
        align-items: center;
        font-size: 0.5rem;
        margin: 0.5em 0 0 0;
        padding: 0 0 0 5em; 
    }
    
    .carousel-container .legenda{
        align-items: center;
        font-size: 0.5rem;   
        padding: 0 0 0 5em; 
        margin: 0.5em 0 0 0;
    }
     
    /*Preços*/
    #precos .subtitulo-precos{
        font-size: 2rem;
        margin: 1em;
        font-family: 'Montserrat', sans-serif;
        color: #6C6D76;
        text-align: center;    
    }
  }

 
  
